[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MDMR"]
	path = MDMR
	url = https://github.com/dmcartor/mdmr
[submodule "MVLM"]
	path = MVLM
	url = https://github.com/dmcartor/mvlm
